h1 {
  background-color: darkgray;
  text-align: center;
}

h2 {
  font-size: 15px;
}

.prefecture-checkbox {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  >* {
    max-width: 150px;
    margin-left: 10px;
  }
}
